<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#main-navbar"
      >
        <span class="sr-only">
          Toggle Navigation
        </span>
        <span class="icon-bar color-white"></span>
        <span class="icon-bar color-white"></span>
        <span class="icon-bar color-white"></span>
      </button>
      <a class="navbar-brand">
        <span>
          <img
            class="image-logo"
            src="asset/images/grid.png"
            alt=""
          />
        </span>
        Paycent
      </a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li></li>
      </ul>
      <ul class="nav navbar-nav o_menu_systray">
        <li>
          <a onclick={{action "logout"}}>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>