<header id="vs-navigation-header">
  <div
    id="vs-navigation-nav"
    class="vs-header-desktop"
    aria-label="Site"
    role="navigation"
  >
    <div class="vs-container-fluid vs-header-container">
      <div class="vs-header-logo-wrapper  vs-global">
        <a aria-label="Visa home">
          <img
            class="imageVisa"
            src="https://cdn.visa.com/cdn/assets/images/logos/visa/logo.png"
            alt="Visa logo"
          />
        </a>
      </div>

      <ul class="vs-header-menu-wrapper">
        <li>
          <a aria-label="Pay with Visa" class={{classtwo}}>
            Pay with Visa
          </a>
        </li>
        <li>
          <a aria-label="Partner With Us" class={{classthree}}>
            Partner With Us
          </a>
        </li>
        <li>
          <a
            aria-label="Run Your Business<br>Votre entreprise"
            class={{classfour}}
          >
            Run Your Business
            <br />
            Votre entreprise
          </a>
        </li>
        <li>
          <a aria-label="Visa Everywhere " class={{classfive}}>
            Visa Everywhere
          </a>
        </li>
        <li>
          <a aria-label="Logout" class={{classsix}} onclick={{action 'logout'}}>
            Logout
          </a>
        </li>
      </ul>
    </div>
    <div aria-hidden="true" class="vs-header-indicator-bar">
      <div class={{classIcon}} style={{styleIcon}}>
      </div>
    </div>
  </div>
</header>