<header id="vs-navigation-header">
  <div
    id="vs-navigation-nav"
    class="vs-header-desktop"
    aria-label="Site"
    role="navigation"
  >
    <div class="vs-container-fluid vs-header-container">
      <div class="vs-header-logo-wrapper  vs-global">
        <a aria-label="Visa home" onclick={{action "home"}}>
          <img
            class="imageVisa"
            src="https://cdn.visa.com/cdn/assets/images/logos/visa/logo.png"
            alt="Visa logo"
          />
        </a>
      </div>

      <ul class="vs-header-menu-wrapper">
        <li>
          <a
            aria-label="Invoice"
            class={{classinvoice}}
            onclick={{action "invoice"}}
          >
            Invoice
          </a>
          <ul
            class={{classsubInvoice}}
            style="height: auto; overflow: visible;"
          >
            <li>
              <a
                aria-label="Send Invoice<br>via Email"
                class="sub-menu-item-control"
                data-tracking="find_a_card_link"
                onclick={{action "emailinvoice"}}
              >
                <span
                  class="visa-icon visa-icon-cards-main sub-menu-icon"
                ></span>
                <p>
                  Send Invoice
                  <br />
                  via Email
                </p>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a aria-label="Pay with Visa" class={{classtwo}}>
            Pay with Visa
          </a>
        </li>
        <li>
          <a aria-label="Partner With Us" class={{classthree}}>
            Partner With Us
          </a>
        </li>
        <li>
          <a
            aria-label="Run Your Business<br>Votre entreprise"
            class={{classfour}}
          >
            Run Your Business
            <br />
            Votre entreprise
          </a>
        </li>
        <li>
          <a aria-label="Visa Everywhere " class={{classfive}}>
            Visa Everywhere
          </a>
        </li>
        <li>
          <a aria-label="Logout" class={{classsix}} onclick={{action 'logout'}}>
            Logout
          </a>
        </li>
      </ul>
    </div>
    <div aria-hidden="true" class="vs-header-indicator-bar">
      <div class={{classIcon}} style={{styleIcon}}>
      </div>
    </div>
  </div>
</header>