<nav id="nav" class={{scroll}}>
  <div class="nav-container">
    <div class="nav-bar">
      {{#link-to "newhome" class="logo"}}
        <span class="zapper-logo-lg">
          <svg
            width="200"
            height="60"
            viewBox="0 0 200 60"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.52368 25.0392H17.5058C18.8733 25.0392 19.9922 26.1618 19.9922 27.5028C19.9922 28.875 18.8733 29.9976 17.5058 29.9976H2.49417C1.84149 30.0288 1.18881 29.7482 0.722609 29.2804C-0.24087 28.3136 -0.24087 26.7232 0.722609 25.7564L15.7653 10.7251C16.7288 9.75831 18.3139 9.75831 19.2774 10.7251C20.2408 11.6918 20.2408 13.2823 19.2774 14.249L8.52368 25.0392ZM7.63002 14.8485H2.53279C1.13975 14.8485 3.72529e-09 13.7342 3.72529e-09 12.4092C3.72529e-09 11.0841 1.13975 10 2.53279 10H12.7272L7.63002 14.8485ZM22.9847 12.8744C24.2105 10.0605 29.5733 10 29.5733 10C37.8781 10 38.1539 15.5673 38.1233 15.5673V25.4312C38.1233 30.0605 32.6685 29.5159 32.6685 29.5159V26.7322C30.9217 29.6974 27.2443 30 27.2443 30C20.625 30 20.625 24.4629 20.625 24.4629C20.625 15.9607 32.7604 17.3525 32.7604 17.3525C32.7604 17.3525 33.1588 13.7216 28.8378 13.8124C26.6621 13.9032 24.5476 14.5991 22.7701 15.8094C22.6169 14.6596 22.9847 12.8744 22.9847 12.8744ZM25.9265 23.2526C25.9265 23.2526 25.9878 26.1573 28.8071 26.0666C33.312 25.9455 32.8523 21.0741 32.791 21.0741C32.791 20.3479 29.3281 20.7715 29.3281 20.7715C25.5281 21.1346 25.9265 23.2526 25.9265 23.2526ZM50.6193 10.0229C50.6193 10.0229 45.8533 10.115 44.8259 13.431V10.0229C44.8259 10.0229 39.375 9.43948 39.375 14.1679C39.375 18.8963 39.4321 39.981 39.4321 39.981C39.4321 39.981 44.8545 40.5336 44.8545 35.6824V27.2784C44.8545 27.2784 46.6524 30.3488 50.0771 30.3488C54.0154 30.3488 58.125 27.4627 58.125 19.4182C58.125 9.90004 50.6193 10.0229 50.6193 10.0229ZM48.0508 25.6511C46.4811 25.6511 44.5976 23.4712 44.5976 19.6639C44.5976 15.8566 46.4526 14.1986 48.5645 14.1986C48.5645 14.1986 52.6741 14.3828 52.6741 19.5411C52.6741 24.6993 49.8202 25.6511 48.0508 25.6511ZM64.8259 13.431C65.8533 10.115 70.6193 10.0229 70.6193 10.0229C70.6193 10.0229 78.125 9.90004 78.125 19.4182C78.125 27.4627 74.0154 30.3488 70.0771 30.3488C66.6524 30.3488 64.8545 27.2784 64.8545 27.2784V35.6824C64.8545 40.5336 59.4321 39.981 59.4321 39.981C59.4321 39.981 59.375 18.8963 59.375 14.1679C59.375 9.43948 64.8259 10.0229 64.8259 10.0229V13.431ZM64.5976 19.6639C64.5976 23.4712 66.4811 25.6511 68.0508 25.6511C69.8202 25.6511 72.674 24.6993 72.674 19.5411C72.674 14.3828 68.5645 14.1986 68.5645 14.1986C66.4526 14.1986 64.5976 15.8566 64.5976 19.6639ZM92.8653 11.0736C91.5833 10.3681 90.1264 10 88.6696 10C83.5124 10 79.375 14.4785 79.375 20C79.375 25.5215 83.5415 30 88.6696 30C88.9365 30 89.1545 29.9743 89.3908 29.9464L89.4563 29.9387C90.6509 29.7546 91.8163 29.4172 92.8944 28.865C93.6811 28.4356 94.4386 27.8528 95.0796 27.1779C95.7498 26.3804 96.216 25.4294 96.4491 24.3865H95.6624C95.6624 24.3865 94.2056 25.9509 89.7185 25.9509C85.2315 25.9509 84.6196 21.227 84.6196 21.227H96.8278C96.9444 19.7853 97.1775 13.6196 92.8653 11.0736ZM91.8455 18.0368H84.6196C84.6196 18.0368 84.7944 13.6503 88.4074 13.6503C92.0203 13.6503 91.8455 18.0368 91.8455 18.0368ZM103.622 20.7517C103.622 16.9068 105.449 15.2323 107.821 15.2323C108.59 15.2944 109.327 15.5424 110 15.9145V10.0231C108.75 10.0231 105 10.0231 103.622 13.4339V10.0231C103.622 10.0231 98.125 9.43393 98.125 14.2091C98.125 18.9843 98.1571 29.992 98.1571 29.992C98.1571 29.992 103.654 30.3951 103.654 25.4959C103.622 21.2478 103.622 20.8447 103.622 20.7517ZM105.875 27.764H105V27.5H107.107V27.764H106.25V30H105.893L105.875 27.764ZM107.625 27.5H108.054L108.607 28.8354L108.804 29.3478H108.821L109.018 28.8354L109.571 27.5H110V30H109.661V28.618C109.661 28.5093 109.67 28.3812 109.679 28.2531C109.687 28.125 109.696 27.9969 109.696 27.8882H109.679L109.464 28.4317L108.911 29.736H108.696L108.161 28.4317L107.929 27.8882H107.911C107.929 28.1056 107.946 28.4006 107.946 28.618V29.9845H107.607L107.625 27.5Z"
              fill="#005CB9"
            ></path>
          </svg>
        </span>
      {{/link-to}}
    </div>
    <span class="">
      <div id="menu" class="menu nav">
        <ul class="menu page-links" id="menuLinks">
          <li class="active">
            {{#link-to "newhome"}}
              Merchants
            {{/link-to}}
          </li>
          <li>
            {{#link-to "newhome" tagName="a" class="nonactive"}}
              Users
            {{/link-to}}
          </li>
          <li>
            {{#link-to "newhome" tagName="a" class="nonactive"}}
              Pricing
            {{/link-to}}
          </li>
          <li>
            {{#link-to "newhome" tagName="a" class="nonactive"}}
              Quick Capital
            {{/link-to}}
          </li>
          <li>
            {{#link-to "newhome" tagName="a" class="nonactive"}}
              Help
            {{/link-to}}
          </li>
        </ul>
        <ul class="menu buttons" id="menuBtns">
          <li class="nav-sign-up-wrapper hide-for-small">
            {{#link-to "newhome" tagName="a" class="btn btn-blue nav-sign-up"}}
              Sign up
            {{/link-to}}
          </li>
          <li class="nav-sign-in-wrapper">
            {{#link-to "merchantsignin" tagName="a" class="btn btn-white-blue"}}
              Sign in
            {{/link-to}}
          </li>
        </ul>
      </div>
    </span>
  </div>
</nav>