<div class={{classDivOne}}>
  <label for={{labeltag}}>
    {{label}}
  </label>
</div>
<div class={{classDivTwo}}>
  {{textarea 
    cols="30" rows="10"
    type="text"
    value=data
    class=classOne
    name=name
  }}
</div>
{{yield}}