<div class={{classDivOne}}>
  <label for={{labeltag}}>
    {{label}}
  </label>
</div>
<div class={{classDivTwo}}>
  {{input
    type="text"
    value=data
    class=classOne
    name=name
    focusOut=(action "checkUsername")
    focus-in=(action "clearMessage")
  }}
</div>
<div class={{classDivThree}}>
  {{#display-errors message=message}}{{/display-errors}}
</div>
{{yield}}