<div class={{classDivOne}}>
  <label for={{labeltag}}>
    {{label}}
  </label>
</div>
<div class={{classDivThree}}>
    {{unit}}
</div>
<div class={{classDivTwo}}>
  {{input
    type="text"
    value=data
    class=classOne
    name=name
    focusOut=(action "checkAmount")
    focus-in=(action "clearMessage")
    disabled=flag
  }}
</div>
<div class={{classDivfour}}>
  {{#display-errors message=message}}{{/display-errors}}
</div>
{{yield}}