<div class={{classDiv}}>
  {{input
    class=classInput
    value=data
    id="a"
    maxlength="4"
    key-up="checkA"
    focus-in=(action "clearMessage")
  }}
</div>
<div class={{classDivTwo}}>
  {{input class=classInput value=dataOne id="b" maxlength="6" key-up="checkB"}}
</div>
<div class={{classDiv}}>
  {{input
    class=classInput
    value=dataTwo
    maxlength="5"
    id="c"
    key-up="checkC"
    focusOut=(action "validcard")
    focus-in=(action "clearMessage")
  }}
</div>
<br />
<br />
{{#message-default message=message}}{{/message-default}}
{{yield}}