<div class={{classDivOne}}>
  <label for={{labeltag}}>
    {{label}}
  </label>
</div>
<div class={{classDivTwo}}>
  {{input
    type="text"
    value=mmdata
    class=classOne
    name=name
    placeholder="MM"
    focusOut=(action "validexpmonth" mmdata)
    focus-in=(action "clearMessageMM")
  }}
  {{#message-default message=messagemm}}{{/message-default}}
</div>
<div class={{classDivTwo}}>
  {{input
    id="yy"
    type="text"
    value=yydata
    class=classOne
    name=name
    placeholder="YY"
    focusOut=(action "validexpyear" yydata)
    focus-in=(action "clearMessageYY")
  }}
  {{#message-default message=messageyy}}{{/message-default}}
</div>

{{yield}}