<div class={{classDiv}}>
  {{input
    class=classInput
    value=data
    id="a"
    maxlength="4"
    key-up="checkA"
    focus-in=(action "clearMessage")
  }}
</div>
<div class={{classDiv}}>
  {{input class=classInput value=dataOne id="b" maxlength="4" key-up="checkB"}}
</div>
<div class={{classDiv}}>
  {{input class=classInput value=dataTwo maxlength="4" id="c" key-up="checkC"}}
</div>
<div class={{classDiv}}>
  {{input
    class=classInput
    value=dataThree
    maxlength="4"
    id="d"
    key-up="checkD"
    focusOut=(action "validcard")
    focus-in=(action "clearMessage")
  }}
</div>
<br />
<br />
{{#message-default message=message}}{{/message-default}}
{{yield}}