{{#each model as |card|}}
  {{#if (eq selectedid undefined)}}
    <div
      class={{divClass}}
      {{action "selectedOption" card.prefix card.bankid card.id}}
    >
      <img src={{card.imageurl}} alt={{card.imageurl}} class={{imageClass}} />
      <p class={{frontSymbol}}>
        {{card.name}}
      </p>
    </div>
  {{else}}
    {{#if (eq selectedid card.id)}}
      <div
        class={{divClass}}
        {{action "selectedOption" card.prefix card.bankid card.id}}
      >
        <img
          src={{card.imageurl}}
          alt={{card.imageurl}}
          class={{imageClassDisabled}}
        />
        <p class={{frontSymbol}}>
          {{card.name}}
        </p>
      </div>
    {{else}}
      <div
        class={{divClass}}
        {{action "selectedOption" card.prefix card.bankid card.id}}
      >
        <img src={{card.imageurl}} alt={{card.imageurl}} class={{imageClass}} />
        <p class={{frontSymbol}}>
          {{card.name}}
        </p>
      </div>
    {{/if}}
  {{/if}}
{{/each}}

{{yield}}