{{#if (eq isVisa true)}}
  {{object-visa data=data checkmodel=checkmodel bankid=bankid cardtype=cardtype
  }}
{{else if (eq isAmex true)}}
  {{object-amex data=data checkmodel=checkmodel bankid=bankid cardtype=cardtype
  }}
{{else}}
  <div class="col-sm-12">
    {{input
      placeholder=placeholder
      class=classInput
      value=data
      input=(action "determinecard" data)
    }}
  </div>
{{/if}}