<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Paycent</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/frontendnew.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/frontendnew.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/forge/0.9.1/forge.all.min.js"></script>
    <script src="https://www.braemoor.co.uk/software/_private/creditcard.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
