{{#nav-bar-new}}{{/nav-bar-new}}
<div class="region region-content">
  <article class="node">
    <div class="content">
      <div class="field--item p-type-page-hero">
        <div
          class="with-arrow arrow-bg-color-light paragraph paragraph--type--page-hero paragraph--view-mode--default"
        >
          <div class="container">
            <div class="row">
              <div
                class="field field--name-field-hero-body field--type-text-long field--label-hidden field--item"
              >
                <h1>
                  <strong>
                  </strong>
                </h1>

                <p class="text-xl"></p>
              </div>

              <div class="paragraph--hero-video">
                <div
                  class="field field--name-field-hero-video field--type-video-embed-field field--label-hidden field--item"
                >
                  <div
                    data-video-embed-field-modal=""
                    class="video-embed-field-launch-modal form-group"
                  >
                    <a href="">
                      <img src="" alt="" typeof="foaf:Image" class="" />
                    </a>
                  </div>
                </div>

                <div
                  class="field field--name-field-video-byline field--type-string-long field--label-hidden field--item"
                ></div>
              </div>
            </div>
          </div>
          <div class="hero-background-image"></div>
          <div class="arrow-container">
            <div class="arrow"></div>
          </div>
        </div>
      </div>
      <div class="field--item p-type-vertical-container">
        <div
          class="paragraph paragraph-new both-sides paragraph--type--vertical-container paragraph--view-mode--default"
        >
          <div>
            <div class="container">
              <div class="equal-rows">
                <div class="left">
                  <div
                    class="paragraph paragraph-new paragraph--type--large-cta paragraph--view-mode--default vertical"
                  >
                    <h4>
                      <span class="icon"></span>
                      Email To Send
                    </h4>
                    <div id="loginForm">
                      {{#obj-email-user
                        labeltag="email address"
                        label="Email Address"
                        data=newmodel.email
                      }}{{/obj-email-user}}
                      {{#obj-email-username
                        labeltag="member name"
                        label="Member name"
                        data=newmodel.username
                      }}{{/obj-email-username}}
                      {{#obj-email-amount
                        labeltag="amount"
                        label="Amount"
                        data=newmodel.amount
                        unit="GMD"
                      }}{{/obj-email-amount}}
                    </div>
                  </div>
                </div>
                <div class="right">
                  <div id="loginForm">
                    {{#obj-email-subject
                      labeltag="subject"
                      label="Subject"
                      data=newmodel.subject
                    }}{{/obj-email-subject}}
                    {{#obj-email-description
                      labeltag="body"
                      label="Body"
                      data=newmodel.description
                    }}{{/obj-email-description}}
                    <div id="email">
                      <div class="row">
                        <div class="col-sm-7"></div>
                        <div class="col-sm-3">
                          <button class="btn btn-default" onclick={{action "send" newmodel}}>
                            Send
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>