{{#nav-bar-user}}{{/nav-bar-user}}
<div class="col-sm-1">
</div>
<div class="col-sm-10">
  <div class="region region-content">
    <article class="node">
      <div class="content">
        <div class="field--item p-type-page-hero">
          <div
            class="with-arrow arrow-bg-color-light paragraph paragraph--type--page-hero paragraph--view-mode--default"
          >
            <div class="container">
              <div class="row">
                <div
                  class="field field--name-field-hero-body field--type-text-long field--label-hidden field--item"
                >
                  <h1>
                    <strong>
                    </strong>
                  </h1>

                  <p class="text-xl"></p>
                </div>

                <div class="paragraph--hero-video">
                  <div
                    class="field field--name-field-hero-video field--type-video-embed-field field--label-hidden field--item"
                  >
                    <div
                      data-video-embed-field-modal=""
                      class="video-embed-field-launch-modal form-group"
                    >
                      <a href="">
                        <img src="" alt="" typeof="foaf:Image" class="" />
                      </a>
                    </div>
                  </div>

                  <div
                    class="field field--name-field-video-byline field--type-string-long field--label-hidden field--item"
                  ></div>
                </div>
              </div>
            </div>
            <div class="hero-background-image"></div>
            <div class="arrow-container">
              <div class="arrow"></div>
            </div>
          </div>
        </div>
        <div class="field--item p-type-vertical-container">
          <div
            class="paragraph paragraph-new both-sides paragraph--type--vertical-container paragraph--view-mode--default"
          >
            <div>
              <div class="container">
                <div class="row">
                  <div class="center">
                    <div
                      class="paragraph paragraph-new paragraph--type--large-cta paragraph--view-mode--default vertical"
                    >
                      <h4>
                        <span class="icon"></span>
                        Payment for : {{invoiceid}}
                      </h4>
                    </div>
                  </div>
                </div>
                <div class="equal-rows">
                  <div class="left">
                    <div
                      class="paragraph paragraph-new paragraph--type--large-cta paragraph--view-mode--default vertical"
                    >
                      <div id="loginForm">
                        {{#object-card
                          placeholder="Card no"
                          data=newmodel.cardno
                          checkmodel=cards
                          cardtype=newmodel.cardtype
                        }}{{/object-card}}
                        {{#each invoice as |invoice|}}
                          {{#obj-email-amount
                            labeltag="amount"
                            label="Amount"
                            data=invoice.amount
                            unit="GMD"
                            flag=true
                            classDivOne="col-sm-3 paddingupper"
                            classDivTwo="col-sm-7"
                          }}{{/obj-email-amount}}
                        {{/each}}
                        {{#object-cvv data=newmodel.cvv label="CVV"}}
                        {{/object-cvv}}
                        {{#object-expiry
                          mmdata=newmodel.expmm
                          yydata=newmodel.expyy
                          label="Expiry Date"
                        }}{{/object-expiry}}
                      </div>
                    </div>
                  </div>
                  <div class="right">
                    <div
                      class="paragraph paragraph-new paragraph--type--large-cta paragraph--view-mode--default vertical"
                    >
                    </div>
                    {{#object-card-selector modelname="cardlist"}}
                    {{/object-card-selector}}
                    <div id="email">
                      <div class="row">
                        <div class="col-sm-7"></div>
                        <div class="col-sm-3">
                          <button class="btn btn-default" onclick={{ action "pay" newmodel invoice}}>
                            Pay
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
<div class="col-sm-1"></div>