<div id="login">
  <main></main>
  <div class="merchant-login">
    <section class="clearfix">
      <div class="branding">
        <svg
          width="209"
          height="108"
          viewBox="0 0 209 108"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M89.6226 100.259H91.9365V91.2731C91.9365 89.2284 93.4027 87.5872 95.2995 87.5872C97.129 87.5872 98.3263 88.6903 98.3263 90.4122V100.259H100.64V90.9369C100.64 89.0939 101.985 87.5872 104.003 87.5872C106.048 87.5872 107.057 88.6365 107.057 90.7754V100.259H109.371V90.2373C109.371 87.1971 107.716 85.5021 104.757 85.5021C102.752 85.5021 101.097 86.511 100.317 88.0446H100.102C99.4294 86.5379 98.0572 85.5021 96.0932 85.5021C94.1561 85.5021 92.7032 86.4303 92.044 88.0446H91.8288V85.7576H89.6226V100.259ZM119.379 87.5468C121.68 87.5468 123.214 89.2418 123.267 91.8113H115.276C115.451 89.2418 117.066 87.5468 119.379 87.5468ZM123.2 96.5061C122.594 97.7841 121.331 98.4701 119.46 98.4701C116.998 98.4701 115.397 96.6541 115.276 93.7887V93.6811H125.701V92.7933C125.701 88.2867 123.321 85.5021 119.406 85.5021C115.424 85.5021 112.868 88.4616 112.868 93.022C112.868 97.6092 115.384 100.515 119.406 100.515C122.581 100.515 124.814 98.9948 125.513 96.5061H123.2ZM129.335 100.259H131.648V91.2731C131.648 89.2284 133.249 87.7486 135.456 87.7486C135.912 87.7486 136.747 87.8293 136.935 87.8831V85.5693C136.639 85.529 136.155 85.5021 135.778 85.5021C133.854 85.5021 132.187 86.4975 131.755 87.91H131.54V85.7576H129.335V100.259ZM151.423 90.197C151.019 87.6141 148.867 85.5021 145.343 85.5021C141.28 85.5021 138.697 88.4347 138.697 92.9548C138.697 97.5689 141.294 100.515 145.356 100.515C148.84 100.515 151.006 98.5509 151.423 95.8873H149.082C148.652 97.5285 147.293 98.4299 145.343 98.4299C142.76 98.4299 141.091 96.3043 141.091 92.9548C141.091 89.6723 142.733 87.5872 145.343 87.5872C147.428 87.5872 148.706 88.7575 149.082 90.197H151.423ZM154.975 100.259H157.289V91.6768C157.289 89.2284 158.714 87.5872 161.311 87.5872C163.503 87.5872 164.66 88.8652 164.66 91.4346V100.259H166.975V90.8695C166.975 87.4661 165.037 85.5021 161.97 85.5021C159.75 85.5021 158.23 86.4437 157.503 88.0446H157.289V80H154.975V100.259ZM175.664 98.4837C173.983 98.4837 172.732 97.6227 172.732 96.143C172.732 94.6901 173.701 93.9232 175.907 93.7753L179.807 93.5197V94.8516C179.807 96.9231 178.045 98.4837 175.664 98.4837ZM175.234 100.515C177.171 100.515 178.758 99.6675 179.701 98.1205H179.915V100.259H182.121V90.3315C182.121 87.3181 180.144 85.5021 176.607 85.5021C173.513 85.5021 171.225 87.0356 170.916 89.3629H173.256C173.58 88.2194 174.789 87.5603 176.525 87.5603C178.691 87.5603 179.807 88.5423 179.807 90.3315V91.6498L175.624 91.9054C172.248 92.1072 170.337 93.6004 170.337 96.1967C170.337 98.8469 172.422 100.515 175.234 100.515ZM186.399 100.259H188.713V91.6768C188.713 89.1342 190.207 87.5872 192.52 87.5872C194.834 87.5872 195.938 88.8248 195.938 91.4346V100.259H198.251V90.8695C198.251 87.4257 196.435 85.5021 193.179 85.5021C190.959 85.5021 189.547 86.4437 188.821 88.0446H188.605V85.7576H186.399V100.259ZM203.458 82.0044V85.7576H201.116V87.6948H203.458V96.4927C203.458 99.2638 204.654 100.367 207.641 100.367C208.098 100.367 208.543 100.313 209 100.232V98.2818C208.569 98.3222 208.34 98.3356 207.923 98.3356C206.416 98.3356 205.771 97.6092 205.771 95.9008V87.6948H209V85.7576H205.771V82.0044H203.458Z"
            fill="#005CB9"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6.03324 96.694H12.3909C13.3589 96.694 14.1509 97.5008 14.1509 98.4646C14.1509 99.4508 13.3589 100.258 12.3909 100.258H1.76543C1.30344 100.28 0.841465 100.078 0.511478 99.7422C-0.170493 99.0474 -0.170493 97.9043 0.511478 97.2095L11.159 86.4063C11.841 85.7115 12.9629 85.7115 13.645 86.4063C14.3269 87.1011 14.3269 88.2442 13.645 88.939L6.03324 96.694ZM5.40069 89.3698H1.79277C0.806742 89.3698 2.67741e-08 88.569 2.67741e-08 87.6167C2.67741e-08 86.6643 0.806742 85.8852 1.79277 85.8852H9.00863L5.40069 89.3698ZM16.269 87.951C17.1367 85.9287 20.9326 85.8852 20.9326 85.8852C26.8109 85.8852 27.0062 89.8865 26.9845 89.8865V96.9757C26.9845 100.303 23.1235 99.9114 23.1235 99.9114V97.9108C21.887 100.042 19.2841 100.259 19.2841 100.259C14.5988 100.259 14.5988 96.2799 14.5988 96.2799C14.5988 90.1692 23.1885 91.1695 23.1885 91.1695C23.1885 91.1695 23.4705 88.5599 20.412 88.6252C18.8719 88.6904 17.3753 89.1906 16.1172 90.0604C16.0087 89.2341 16.269 87.951 16.269 87.951ZM18.3513 95.41C18.3513 95.41 18.3947 97.4976 20.3903 97.4323C23.5789 97.3454 23.2535 93.8443 23.2102 93.8443C23.2102 93.3224 20.759 93.6268 20.759 93.6268C18.0694 93.8878 18.3513 95.41 18.3513 95.41ZM35.8294 85.9016C35.8294 85.9016 32.4559 85.9678 31.7287 88.351V85.9016C31.7287 85.9016 27.8704 85.4823 27.8704 88.8807C27.8704 92.2791 27.9109 107.433 27.9109 107.433C27.9109 107.433 31.7489 107.83 31.7489 104.343V98.3034C31.7489 98.3034 33.0215 100.51 35.4456 100.51C38.2333 100.51 41.1421 98.4358 41.1421 92.6541C41.1421 85.8133 35.8294 85.9016 35.8294 85.9016ZM34.0113 97.1338C32.9003 97.1338 31.5671 95.567 31.5671 92.8307C31.5671 90.0944 32.8802 88.9027 34.375 88.9027C34.375 88.9027 37.2839 89.0351 37.2839 92.7424C37.2839 96.4497 35.2638 97.1338 34.0113 97.1338ZM45.8852 88.351C46.6124 85.9678 49.9859 85.9016 49.9859 85.9016C49.9859 85.9016 55.2986 85.8133 55.2986 92.6541C55.2986 98.4358 52.3897 100.51 49.6021 100.51C47.178 100.51 45.9054 98.3034 45.9054 98.3034V104.343C45.9054 107.83 42.0674 107.433 42.0674 107.433C42.0674 107.433 42.0269 92.2791 42.0269 88.8807C42.0269 85.4823 45.8852 85.9016 45.8852 85.9016V88.351ZM45.7236 92.8307C45.7236 95.567 47.0568 97.1338 48.1678 97.1338C49.4203 97.1338 51.4403 96.4497 51.4403 92.7424C51.4403 89.0351 48.5314 88.9027 48.5314 88.9027C47.0365 88.9027 45.7236 90.0944 45.7236 92.8307ZM65.732 86.6568C64.8246 86.1497 63.7934 85.8852 62.7623 85.8852C59.1118 85.8852 56.1833 89.1039 56.1833 93.0723C56.1833 97.0406 59.1324 100.259 62.7623 100.259C62.9512 100.259 63.1055 100.241 63.2727 100.221L63.319 100.215C64.1646 100.083 64.9896 99.8405 65.7526 99.4436C66.3095 99.135 66.8456 98.7162 67.2994 98.2311C67.7737 97.6579 68.1038 96.9745 68.2687 96.2249H67.7119C67.7119 96.2249 66.6807 97.3493 63.5047 97.3493C60.3286 97.3493 59.8956 93.9541 59.8956 93.9541H68.5368C68.6193 92.918 68.7844 88.4866 65.732 86.6568ZM65.0102 91.6613H59.8956C59.8956 91.6613 60.0193 88.5087 62.5766 88.5087C65.1339 88.5087 65.0102 91.6613 65.0102 91.6613ZM73.3458 93.6125C73.3458 90.8492 74.6389 89.6457 76.3177 89.6457C76.8622 89.6903 77.384 89.8686 77.8604 90.136V85.9018C76.9756 85.9018 74.3213 85.9018 73.3458 88.3532V85.9018C73.3458 85.9018 69.455 85.4783 69.455 88.9103C69.455 92.3423 69.4777 100.254 69.4777 100.254C69.4777 100.254 73.3684 100.543 73.3684 97.0222C73.3458 93.9691 73.3458 93.6793 73.3458 93.6125ZM74.9406 98.6523H74.3213V98.4626H75.8128V98.6523H75.2061V100.259H74.9533L74.9406 98.6523ZM76.1793 98.4626H76.4826L76.8744 99.4223L77.0135 99.7907H77.0262L77.1651 99.4223L77.557 98.4626H77.8604V100.259H77.6202V99.2661C77.6202 99.1881 77.6265 99.0963 77.6328 99.0044L77.6329 99.0039V99.0034C77.6391 98.9114 77.6455 98.8196 77.6455 98.7416H77.6329L77.4811 99.1322L77.0893 100.07H76.9377L76.5584 99.1322L76.3942 98.7416H76.3815C76.3942 98.8979 76.4068 99.1099 76.4068 99.2661V100.248H76.1666L76.1793 98.4626Z"
            fill="#005CB9"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M125.667 19C125.667 16.4384 124.042 14.129 121.551 13.1488C119.06 12.1685 116.193 12.7103 114.286 14.5216L98.9999 29.0433L83.714 14.5216C81.1105 12.0483 76.8894 12.0483 74.2859 14.5216C71.6824 16.995 71.6824 21.005 74.2859 23.4783L94.2859 42.4783C96.8894 44.9517 101.11 44.9517 103.714 42.4783L112.333 34.29V57C112.333 60.4978 115.318 63.3333 119 63.3333C122.682 63.3333 125.667 60.4978 125.667 57V19ZM85.6666 44.3333V57C85.6666 60.496 82.6799 63.3333 78.9999 63.3333C75.3199 63.3333 72.3333 60.496 72.3333 57V31.6667L85.6666 44.3333Z"
            fill="#005CB9"
          ></path>
        </svg>
      </div>
      <div id="loginForm">
        
       {{#merchant-signin model=newmodel}}{{/merchant-signin}}
      </div>
    </section>
  </div>
  <div class="fixed-bg"></div>
</div>