{{#nav-scrolled}}{{/nav-scrolled}}
<main class="main isDesktop">
  <section
    id="padding-placeholder"
    class="flexi anchor text-white"
    style="padding-top: 60px;padding-bottom: 0px;"
  >
    <div class="container">
    </div>
  </section>
  <div id="merchant" class="page-content-container">
    <div class="zcms">
      <div
        id="hero-slider"
        class="rsDefault c rsHor rsWithBullets"
        style="touch-action: pan-y;"
      >
        <div
          class="rsOverflow"
          style="width: 1440px; height: 720px; transition: height 600ms ease-in-out 0s;"
        >
          <div
            class="rsContainer"
            style="transition-duration: 0s; transform: translate3d(0px, 0px, 0px);"
          >
            <div class="rsSlide" style="left: 0px;">
              <section
                class="anchor banner stretch text-blue"
                style="padding: 40px 0;"
              >
                <div class="container">
                  <div class="row reverse">
                    <div class="col-sm-6 col col-media text-left">
                      <article article>
                        <h1>
                          Low-cost
                            contactless
                            payments
                        </h1>
                        <br />
                        <p>
                          Zapper offers convenient, safe and low-cost
                          contactless payments and loyalty.
                        </p>

                        <div>
                          {{#link-to
                            "newhome"
                            tagName="a"
                            class="btn btn-primary bg-blue"
                          }}
                            View pricing
                          {{/link-to}}
                        </div>
                      </article>
                    </div>
                    <div class="col-sm-6 col col-media">
                      <div class="w-100">
                        <img
                          class="img"
                          src="https://zapper.com/zapper_com_base/assets/images/uploads/getpaiddevice-1.png"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <section
        id="introducing-the-new-merchant-app"
        class="anchor banner stretch text-white sectionone"
      >
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col col-media">
              <div class="w-100">
                <img
                  class="img"
                  src="https://zapper.com/zapper_com_base/assets/images/uploads/merchant-app-screens.png"
                />
              </div>
            </div>

            <div class="col-sm-6  col col-media text-left">
              <article>
                <h1>
                  Introducing the new
                  Merchant app
                </h1>

                <p>
                  Get detailed payment notifications in real time,
                  create and show your ZapCode or share your
                  ZapLink for customers to pay with Zapper. FREE
                  for all merchants on tablet or smartphone.
                </p>

                <ul class="inline-list text-left">
                  <li class="">
                    <a href="https://itunes.apple.com/app/zapper/id1482192062">
                      <img
                        src="https://zapper.com/zapper_com_base/assets/images/uploads/badgeappstore-2.svg"
                      />
                    </a>
                  </li>

                  <li class="">
                    <a
                      href="https://play.google.com/store/apps/details?id=com.zapper.merchant"
                    >
                      <img
                        src="https://zapper.com/zapper_com_base/assets/images/uploads/badgeplaystore-1.svg"
                      />
                    </a>
                  </li>
                </ul>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section
        id="gain-valuable-insight"
        class="anchor banner stretch text-white sectiontwobg"
      >
        <div
          class="bg-image opaque"
          style="background-image: url('https://zapper.com/zapper_com_base/assets/images/uploads/imginsightbw.jpg');"
        ></div>

        <div class="container centercon">
          <div class="row reverse">
            <div class="col-sm-6 col col-media text-left">
              <article>
                <h1>
                  Gain valuable insight
                </h1>

                <p>
                  Every time someone pays you, they join your tribe of
                  customers. With the Zapper Merchant Portal you can review
                  details of all your customers and transactions, and bring them
                  back with enticing vouchers and reward their loyalty.
                </p>
              </article>
            </div>
            <div class="col-sm-6 col col-media">
              <div class="w-200">
                <img
                  class="img2"
                  src="https://zapper.com/zapper_com_base/assets/images/uploads/mp-device-1.png"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        id="entice-and-reward"
        class="anchor banner stretch  sectionthree text-white"
      >
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col col-media">
              <div class="w-50">
                <img
                  class=""
                  src="https://zapper.com/zapper_com_base/assets/images/uploads/devicezappervouchers.png"
                />
              </div>
            </div>
            <div class="col-sm-6 col col-media artcenter text-left">
              <article>
                <h1>
                  Entice and reward
                </h1>
                <p>
                  Create customised voucher campaigns to appeal to new
                  customers and encourage repeat business with existing
                  customers by way of incentives, discounts and savings.
                </p>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section
        id="earn-customer-loyalty"
        class="anchor banner stretch sectionfour text-white"
      >
        <div class="container">
          <div class="row reverse">
            <div class="col-sm-6 col col-media artcenter text-left">
              <article>
                <h1>
                  Earn customer loyalty
                </h1>

                <p>
                  A little loyalty goes a long way. Sustain a loyal client base and
                  influence spend behaviour by incentivising your Zapper tribe
                  with in-app digital loyalty cards. Campaigns can be configured
                  based on number of visits, spend or on an item-level basis.
                </p>
              </article>
            </div>
            <div class="col-sm-6 col col-media">
              <div class="w-50 middle-con">
                <img
                  class=""
                  src="https://zapper.com/zapper_com_base/assets/images/uploads/devicezapperloyalty.png"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        id="get-on-the-map"
        class="anchor banner stretch sectionfive text-white"
      >
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col col-media">
              <div class="w-50">
                <img
                  class="img3"
                  src="https://zapper.com/zapper_com_base/assets/images/uploads/device-zapper-nearby-1.png"
                />
              </div>
            </div>

            <div class="col-sm-6 col col-media artcentertwo text-left">
              <article>
                <h1>
                  Get on the map
                </h1>

                <p>
                  Entice new customers to your business through Zapper
                  Nearby, enabling customers to easily navigate to you, get in
                  touch or discover your vouchers and loyalty cards.
                </p>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section
        id="engage-your-customers"
        class="anchor banner stretch sectionsix text-white"
      >
        <div class="container">
          <div class="row reverse">
            <div class="col-sm-6 col col-media artcenter text-left">
              <article>
                <h1>
                  Engage your customers
                </h1>

                <p>
                  A personal touch creates a satisfying customer experience.
                  Send targeted custom messages and promotions directly to a
                  specific audience or your entire customer tribe to encourage
                  repeat business and influence customer behaviour in your favour.
                </p>
              </article>
            </div>
            <div class="col-sm-6 col col-media">
              <div class="w-50 middle-con">
                <img
                  class="img3"
                  src="https://zapper.com/zapper_com_base/assets/images/uploads/device-zapper-messages-1.png"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        id="get-valuable-feedback"
        class="anchor banner stretch sectionseven   text-white"
      >
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col col-media">
              <div class="w-50">
                <img
                  class=""
                  src="https://zapper.com/zapper_com_base/assets/images/uploads/ratereview-mobile-image.png"
                />
              </div>
            </div>

            <div class="col-sm-6 col col-media artcentertwo text-left">
              <article>
                <h1>
                  Get valuable feedback
                </h1>

                <p>
                  Gain customer satisfaction insights by allowing your
                  customers to rate and review their experience with you.
                </p>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section
        id="eliminate-fraud"
        class="anchor banner stretch sectioneight text-white"
      >
        <div class="container">
          <div class="row reverse">
            <div class="col-sm-6 col col-media artcenter text-left">
              <article>
                <h1>
                  Eliminate fraud
                </h1>

                <p>
                  Our multi-layered approach, using industry leading advanced
                  technologies and a team of experts, detects fraud with pin-
                  point accuracy and is proven to reduce the cost of fraud to
                  your business whilst ensuring genuine customers are not
                  rejected or left frustrated.
                </p>
              </article>
            </div>
            <div class="col-sm-6 col col-media">
              <div class="w-50 middle-con">
                <img
                  class=""
                  src="https://zapper.com/zapper_com_base/assets/images/uploads/fraud-mobile-image.png"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        id="get-paid-online"
        class="anchor banner stretch sectionnine text-grey"
      >
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h1>
                Get paid online
              </h1>

              <p>
                Give your customers the ability to checkout and pay with Zapper on your eCommerce website.
                We provide plugins for the WooCommerce, Shopify, Ecwid and nopCommerce platforms,
                as well as a Javascript SDK for custom solutions.
              </p>

              <ul class="inline-list text-center">
                <li>
                  <a
                    href="https://zapper.gitbook.io/integrations/web/ecommerce-plugins/woocommerce-wordpress"
                  >
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/imgecommercewoocommercelogo.svg"
                    />
                  </a>
                </li>

                <li>
                  <a
                    href="https://zapper.gitbook.io/integrations/web/ecommerce-plugins/shopify"
                  >
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/imgecommerceshopifylogo.svg"
                    />
                  </a>
                </li>

                <li>
                  <a
                    href="https://zapper.gitbook.io/integrations/web/ecommerce-plugins/ecwid"
                  >
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/logoecwid-1.png"
                    />
                  </a>
                </li>

                <li>
                  <a
                    href="https://zapper.gitbook.io/integrations/web/ecommerce-plugins/nopcommerce"
                  >
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/logonop-commerce-1.png"
                    />
                  </a>
                </li>

                <li>
                  <a
                    href="https://zapper.gitbook.io/integrations/web/payment-widget"
                  >
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/logojs.png"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section
        id="get-integrated"
        class="anchor banner stretch sectionten text-white"
      >
        <div
          class="bg-image opaque"
          style="background-image: url('https://zapper.com/zapper_com_base/assets/images/uploads/imgdevportalbw-1.jpg');"
        ></div>

        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h1>
                Get integrated
              </h1>

              <p>
                The Zapper Platform provides access to our suite of APIs, SDKs and code examples;
                enabling developers to integrate and white-label Zapper’s offerings into third-party
                mobile apps, websites and payment systems.
              </p>

              <div class="call-to-action w-50 text-center">
                <a
                  class="btn btn-primary bg-white"
                  href="https://zapper.gitbook.io/integrations/"
                  target="_blank"
                  data-tracking="merchant, click, Get integrated"
                >
                  Acquiring
                </a>

                <a
                  class="btn btn-primary bg-white"
                  href="https://zapper.gitbook.io/zapper-platform/"
                  target="_blank"
                  data-tracking="merchant, click, CTA Issuing"
                >
                  Issuing
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        id="integrated-partnerships"
        class="anchor banner stretch sectioneleven text-grey"
      >
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h1>
                Integrated partnerships
              </h1>
              <p>
                Zapper has integrated with a growing number of mobile applications, online services and ePOS
                partners. Zapper’s integrated mobile payment and digital marketing solution can boost the
                functionality of your application or ePOS system.
              </p>
              <ul class="inline-list text-center">
                <li>
                  <a href="https://www.paygate.co.za/">
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/paygatelogo-2.png"
                    />
                  </a>
                </li>

                <li>
                  <a href="https://www.payat.co.za/">
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/logopayat-1.png"
                    />
                  </a>
                </li>

                <li>
                  <a href="https://netcash.co.za/">
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/netcashlogo-2.png"
                    />
                  </a>
                </li>

                <li>
                  <a href="https://www.entersekt.com/">
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/logoentersekt-1.png"
                    />
                  </a>
                </li>

                <li>
                  <a href="http://www.gaap.co.za/">
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/logogaap-1.png"
                    />
                  </a>
                </li>

                <li>
                  <a href="http://www.micros.co.za/">
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/logooracle-micros.png"
                    />
                  </a>
                </li>

                <li>
                  <a href="http://www.pilot.co.za/">
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/logopilot-1.png"
                    />
                  </a>
                </li>

                <li>
                  <a href="https://www.intelipos.com/">
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/logointelipos-2.png"
                    />
                  </a>
                </li>

                <li>
                  <a href="https://www.lightspeedhq.co.uk/pos/restaurant/">
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/logolightspeed-1.png"
                    />
                  </a>
                </li>

                <li>
                  <a href="#">
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/logounisolv-2.png"
                    />
                  </a>
                </li>

                <li>
                  <a href="https://www.servest.co.za/">
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/logoservest-2.png"
                    />
                  </a>
                </li>

                <li>
                  <a href="https://www.skidata.com/en-za/">
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/skidatalogo-2.png"
                    />
                  </a>
                </li>

                <li>
                  <a href="https://www.hubparking.co.za/">
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/hublogo-2.png"
                    />
                  </a>
                </li>

                <li>
                  <a href="https://www.6dot50.com/">
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/logo6dot50-1.png"
                    />
                  </a>
                </li>

                <li>
                  <a href="https://foodloversmarket.co.za/">
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/flmlogo-2.png"
                    />
                  </a>
                </li>

                <li>
                  <a href="https://crave.co.za/">
                    <img
                      class="img4"
                      src="https://zapper.com/zapper_com_base/assets/images/uploads/logocrave-1.png"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="container" id="footer">
          <div class="row sitemap">
          </div>
        </div>
      </footer>
    </div>
  </div>
</main>