{{#main-navbar tasksController=this}}{{/main-navbar}}
<div class="margin-top">
  <div class="col-sm-2 sidenav">
    <br />
    <br />
    <div class="col-sm-12">
      {{#nav-lending}}{{/nav-lending}}
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-10">
    <div class="row margin">
      <div class="col-12 col-sm-12 col-xs-12 staticnav-new padding-0">
        <div class="col-12 col-sm-6 col-xs-12 mainpanel">
          <ol class="breadcrumb" role="navigation">
            <li>
              <a class="borrolink" onclick={{action "discardroute"}}>
                Home
              </a>
            </li>
            <li class="breadcrumb-item active">
              Payment
            </li>
          </ol>
          <button
            class="col-sm-2 col-2 col-xs-2 btn btn-secondary o_button_import"
            type="button"
            onclick={{action "discardroute"}}
          >
            Discard
          </button>
        </div>
      </div>
      <div class="col-12 col-xs-12 col-sm-12 margin-home">
        <div class="col-2 col-xs-2 col-sm-2"></div>
        <div class="col-8 col-xs-8 col-sm-8">
          <PaperCard as |card|>
            <div class="col-sm-12 newtable">
              {{#payment-card model=newmodel checkmodel=cards}}{{/payment-card}}
              <div class="col-xs-12 col-sm-12 margin-br">
                <div class="col-xs-12 col-sm-9">
                </div>
                <button
                  class="col-sm-1 col-1 col-xs-1 btn btn-primary o_list_button_add"
                  type="button"
                  data-original-title=""
                  title=""
                  onclick={{action "pay" newmodel}}
                >
                  <span class="d-none d-sm-inline">
                    Pay
                  </span>
                </button>
              </div>
            </div>
          </PaperCard>
        </div>
      </div>
    </div>
  </div>
</div>